@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    
    /* font-family: "Segoe UI", Arial, sans-serif; */
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    padding: 0.5rem 10%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}

.carlogo
{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navbar a
{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 2.5rem;
}
.navbar a:hover {
        color: #aaaaaa;
    }


    footer
 {
    width: 100%;
    height: 400px;
    /* background-color: black; */
 }
.footlogo
{
    width: 50%;
    height: 400px;
    background-color: #000;
    
}
.footlogo a
{
    position: relative;
    left: 56px;
    top: 32px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    user-select: none;  
    
}
.footlogo p
{
    position: relative;
    left: 56px;
    top: 32px;
    color: white; 
}

.footother
{
    position: relative;
    background-color: black;
    width: 50%;
    height: 400px;
    bottom: 400px;
    left: 50%;

}

.footother img
{
    height: 100px;
    width: 100px;
    position: relative;
    left: 630px;
    top: 8px;
}
.footother .pp  
{
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 600px;
}


/* Hero Section */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* min-height: 80vh; */
  color: white;
}

.hero .left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 500px;
  
}

.hero .left h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero .right {
    height: 500px;
    /* background-color: blue; */
    
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}
.car {
    height: 800px;
    width: 100%;
    /* background-color: red; */

    display: flex;   

    justify-content: center; 

    align-items: center;    
    
    background-image: url(https://images.unsplash.com/photo-1498887960847-2a5e46312788?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;

     background-color: rgba(0, 0, 0, 0.5);  
    background-blend-mode: darken;
}

.car h1 {
    color: white;
    font-size: 3rem;
}
/* Overlay */
    .transition-overlay {
      position: fixed;
      top: 0;
      left: -100%;  /* hidden by default */
      width: 100%;
      height: 100%;
      background: black;
      z-index: 9999;
      transition: left 0.8s ease-in-out;
    }

    /* On page load (cover) */
    .transition-overlay.start {
      left: 0;
    }

    /* On link click (slide in) */
    .transition-overlay.active {
      left: 0;
    }

    /* When sliding out (after load) */
    .transition-overlay.hide {
      left: -100%;
    }