@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    /* font-family: "Segoe UI", Arial, sans-serif; */
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #333;
}

/* Splash Screen */

.intro{
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 2s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #D9DCD6; */
    color: white;
}

.logo{
    position: relative;
    font-style: italic;
    font-size: 100px;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 1s;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    padding: 0.5rem 10%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}

.carlogo
{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navbar a
{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 2.5rem;
}
.navbar a:hover {
        color: #aaaaaa;
    }

.video-cont
{
    width: 100%;
    height: 775px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.content
{
    text-align: center;
    user-select: none;
    
}

.content h1
{
    font-size: 50px;
    color: #fff;
}
.content p
{
    margin-top: -16px;
    margin-bottom: 40px;
    color: #fff;
    font-style: italic;
    
}

.content a
{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover
{
    background-color: #fff;
    color: black;
}

.back-clip
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.icons
{
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
/* @media (min-aspect-ratio: 16/9) 
{
    .back-clip{
        width: 100%;
        height: auto;
    }   
}

@media (max-aspect-ratio: 16/9) 
{
    .back-clip{
        width: auto;
        height: 100%;
    }   
} */

/* footer
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    padding: 5rem;
    
} */
 footer
 {
    width: 100%;
    height: 400px;
    /* background-color: black; */
 }
.footlogo
{
    width: 50%;
    height: 400px;
    background-color: #000;
    
}
.footlogo a
{
    position: relative;
    left: 56px;
    top: 32px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    user-select: none;  
    
}
.footlogo p
{
    position: relative;
    left: 56px;
    top: 32px;
    color: white; 
}

.footother
{
    position: relative;
    background-color: black;
    width: 50%;
    height: 400px;
    bottom: 400px;
    left: 50%;

}

.footother img
{
    height: 100px;
    width: 100px;
    position: relative;
    left: 630px;
    top: 8px;
}
.footother .pp  
{
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 600px;
}


.aboutus
{
    margin-top: 150px;
    width: 100%;
    height: 496px;
    color: white;
    display: flex;
}
.ourvalues
{
    width: 45%;
    height: 496px;
    position: relative;
    top: 72px;
    left: 112px;
}
.ourvalues h1
{
    font-size: 56px;
    margin-bottom: 32px;
}

.ourvalues h3
{
    font-size: 38px;
    margin-bottom: 32px;
}

.ourvalues p
{
    width: 70%;
}
.ourvaluesimg 
{
    width: 40%;
    height: 496px;
    position: relative;
    /* top: 72px; */
    left: 112px;
    background-image: url(https://static.wixstatic.com/media/11062b_7f9fb388b8c34498b61b6f0c49c83f38~mv2.jpg/v1/fill/w_710,h_768,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_7f9fb388b8c34498b61b6f0c49c83f38~mv2.jpg);
    background-size: cover;
}

.mission
{
    width: 100%;
    height: 496px;
    color: white;
    display: flex;
    margin-bottom: 150px;
}
.ourmission
{
    width: 40%;
    height: 496px;
    position: relative;
    top: 72px;
    left: 200px;
}
.ourmission h1
{
    font-size: 56px;
    margin-bottom: 32px;
}

.ourmission h3
{
    font-size: 38px;
    margin-bottom: 32px;

}.ourmission p{
    width: 70%;
}

.ourmissionimg 
{
    width: 45%;
    height: 496px;
    position: relative;
    /* top: 72px; */
    left: 112px;
    background-image: url(https://static.wixstatic.com/media/11062b_8ed679c62e6f48a6b69a09f17f400a61~mv2.jpg/v1/fill/w_978,h_768,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_8ed679c62e6f48a6b69a09f17f400a61~mv2.jpg);
    background-size: cover;
}